<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="FoolStaffDataModelContainer" connectionString="metadata=res://*/FoolStaffDataModel.csdl|res://*/FoolStaffDataModel.ssdl|res://*/FoolStaffDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-G6EOSNM2\SQLEXPRESS;initial catalog=FoolStaffDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="FoolStaffDataModelContainer" connectionString="metadata=res://*/FoolStaffDataModel.csdl|res://*/FoolStaffDataModel.ssdl|res://*/FoolStaffDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL6002.SmarterASP.NET;Initial Catalog=DB_A27FEC_foolstack;User Id=DB_A27FEC_foolstack_admin;Password=foolstack-001.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>