<div class="jumbotron">
    @*commit - site for us*@
    <h1>FOOLSTACKERS</h1>
    <p class="lead">FOOLSTACKERS is a new group of work that create free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript. These group was founded by Andersen own teamleader.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <img src="http://localhost:62736/app/view/assets/img/FoolStackers.jpg" width="300px"/>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Foolstackers is ready to start for new missions</h2>
        <p> FOOLSTACKERS puts Web API in your projects. These WEB API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
    @*<br />
    <br />
    <table class="container-fluid" type="table" style="background-color:white">
        <tr>
            <td> Components of new PC that can guarantee high performance</td>
        </tr>
        <tr>
            <img src="~/Image/IMG_9675.jpg" width="250px" height="auto" />
        </tr>
        <tr>
            <img src="~/Image/img_9983.jpg" width="250px" height="auto" />
        </tr>
        <tr>
            <img src="~/Image/nvidia-new-titan-x-100673194-large.png" width="250px" height="auto" />
        </tr>
    </table>*@

</div>
