/* immagini nella home page */

.immaginiCopertina {
    width: 100%;
}

/*animazione icona caricamento pagina*/
.loader {
    border: 1px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-bottom: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1.5s linear infinite;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1;
    background-color: white;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader h2 {
    position: relative;
    top: 5px;
    font-size: 25px;
}

.scuro {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background-color: black;
    z-index: 0;
}

.cursorPointer {
    cursor: pointer;
}

.colorBlue {
    color: blue;
}

.colorGreen {
    color: green;
}

.colorRed {
    color: red;
}

.colorYellow {
    color: yellow;
}

.colorAzure {
    color: #06b8ff;
}

.colorOrange {
    color: #ff8606;
}

.colorBlack {
    color: black;
}

.textAlignRight {
    text-align: right;
}


.textAlignCenter {
    text-align: center;
}

.marginTop0 {
    margin-top: 0px;
}

.displayInline {
    display: inline;
}

.tableCentered td, .tableCentered th {
    text-align: center;
}

.borderless > tbody > tr > td,
.borderless > tbody > tr > th,
.borderless > tfoot > tr > td,
.borderless > tfoot > tr > th,
.borderless > thead > tr > td,
.borderless > thead > tr > th {
    border: none;
}

.trOrange {
    background-color: #ff96001f;
}

.hoverWhite:hover {
    background-color: white !important;
}

#menuImage > img {
    cursor: pointer;
    border-radius: 100%;
    height: 24px;
    position: relative;
    top: -2px;
    border: solid 1px #868e96;
}

.img-preview {
    float: left;
    margin-bottom: .5rem;
    margin-right: .5rem;
    overflow: hidden;
}

.docs-data > .input-group > label {
    justify-content: center;
    min-width: 10rem;
}

.docs-data > .input-group > span {
    justify-content: center;
    min-width: 6rem;
}

.positionRelative {
    position: relative;
}

.waiter {
    width: 100%;
    height: 100%;
    background-color: #80808066;
    position: absolute;
    z-index: 10;
}

.waiterBody {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    height: 12%;
    text-align: center;
    border-radius: 16px;
}
