<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="index.home">FoolStuff-App</a>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a ui-sref="signed.homepage">HomePage</a></li>
                <li><a ui-sref="signed.users">Users</a></li>
                <li><a ui-sref="signed.tesoreria">Tesoreria</a></li>
                <li><a ui-sref="signed.task">Task</a></li>
                <li><a ui-sref="signed.applications">Applications</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profilo<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="signed.myProfile">Profilo</a></li>
                        <li><a ui-sref="signed.update">Modifica Dati</a></li>
                        <li><a ui-sref="signed.updatePass">Cambia Password</a></li>
                        <li><a ui-sref="signed.userPage">User Page</a></li>
                    </ul>
                </li>
                <li data-ng-click="signedCtrl.logout()"><a href=""><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <span us-spinner spinner-key="spinner-1"></span>
    <ui-view></ui-view>
</div>


<!--<div footer>
</div>-->

<!--<div id="wrap">
    <div id="main" class="container clear-top">
        <p>
            Fool-Stack Developpers
        </p>
    </div>
</div>
<footer class="footer"></footer>-->


<!--<div class="footer">
    <div class="container">
        <p>
            Fool-Stack Developpers
        </p>
    </div>
</div>-->

<!-- Bad Idea, in attesa di altro ok. -->
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-brand" href="#">Fool-Stack Team</p>
        </div>
    </div>
</nav>
