<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="index.home">FoolStuff-App</a>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li data-ng-repeat="menu in signedCtrl.menu" data-ng-class="menu.active ? 'active' : ''" data-ng-init="signedCtrl.setLastActive(menu)">
                    <a data-ng-click="signedCtrl.setActive(menu)" ui-sref="{{menu.url}}">{{menu.title}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="menuImage" href="#">
                        <img data-ng-src="{{signedCtrl.userAvatar}}"> {{signedCtrl.userName.userInfo.name}} {{signedCtrl.userName.userInfo.surname}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="signed.profile">Profile page</a></li>
                        <li><a ui-sref="signed.update">Modifica Dati</a></li>
                        <li><a ui-sref="signed.updatePass">Cambia Password</a></li>
                        <!-- <li><a ui-sref="signed.userPage">User Page</a></li>  -->
                    </ul>
                </li>
                <li data-ng-click="signedCtrl.logout()"><a href=""><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <span us-spinner spinner-key="spinner-1"></span>
    <ui-view></ui-view>
</div>


