<h2>This page shows the current status of all aplications</h2>
<p>All the following applications are the result of the staff work</p>

<!--<canvas id="polar-area" class="chart chart-polar-area" chart-data="data" chart-labels="labels" chart-options="options"></canvas>-->
<!--<canvas tc-chartjs-bar chart-data="data"
        chart-options="options" width="350"
        height="200"></canvas>-->


<canvas class="chart chart-line" chart-data="applicationsCtrl.data" chart-labels="applicationsCtrl.labels"
        chart-series="applicationsCtrl.series" chart-click="applicationsCtrl.onClick"></canvas>


<canvas id="bar" class="chart chart-bar"
        chart-data="data" chart-labels="labels"
        chart-series="series"></canvas>

<canvas id="pie" class="chart chart-pie"
        chart-data="data" chart-labels="labels" chart-options="options"></canvas>

<canvas id="radar" class="chart chart-radar"
        chart-data="data" chart-options="options" chart-labels="labels"></canvas> 
