<div class="col-md-3">
    <h1>FoolStackers Signed HomePage</h1>
    <img class="immaginiCopertina" src="app/view/assets/img/Logo.png" alt="FoolStack Logo" /><br /><br />
</div>
<div class="col-md-9">
    <!--<img class="immaginiCopertina" src="app/view/assets/img/FoolStackers.jpg" alt="FoolStack" />-->
    <h4>2017-10-29</h4>
    <p>A seguire le linee guida per i lavori dei task</p>
    <ul>
        <li>
            <p>Creare un nuovo brench a partire da quello remoto denominato <i>20171001</i></p>
        </li>
        <li>
            <p>Configurare il proprio ambiente di sviluppo con le ultime modifiche (per lo piu base di dati)</p>
        </li>
        <li>
            <p>Apportare le evoluzioni e le implementazioni richieste dal task</p>
        </li>
        <li>
            <p>Push su github del brench con il task concluso</p>
        </li>
        <li>
            <p>Verifica e test di gruppo (almeno i primi tempi)</p>
        </li>
        <li>
            <p>Merge del brench e deploy sulla vps in produzione</p>
        </li>
    </ul>
</div>