<!--<h2>  Profile  Page</h2>
<br />
<br />


 <table class="table table-hover">
    <tr>
        Sezione con signed Controller
    </tr>
<tr>
        
        <td>
            <label>User Name : </label>            
                <output name="User">{{signedCtrl.userName.name}}</output>

            
            <textarea readonly> {{signedCtrl.userName.name}}</textarea>
        </td>
        <td>
            {{signedCtrl.userName.surname}}
        </td>
        <td>
            {{signedCtrl.userName.phone}}
        </td>
        <td>
            {{signedCtrl.userName.email}}
        </td>
    </tr>
</table>  -->
<br />
<br />
<br />
<div class="panel panel-default">
    <form class="form-horizontal" role="form">
        <div class="panel-heading"><h2>{{signedCtrl.userName.name}} Profile Page</h2></div>
        <div class="panel-body">
            <div class="form-group">
                <label for="email" class="col-sm-3 control-label">User Name : </label>
                <div class="col-sm-9">
                    {{signedCtrl.userName.name}}
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">User Surname : </label>
                <div class="col-sm-9">
                    {{signedCtrl.userName.surname}}
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">User Phone Number : </label>
                <div class="col-sm-9">
                    {{signedCtrl.userName.phone}}
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-3 control-label">User E-mail : </label>
                <div class="col-sm-9">
                    {{signedCtrl.userName.email}}
                </div>
            </div>
            </div>

    </form> <!-- /form -->
</div>


