<h1>Roles Controller</h1>
<p>Di seguito i ruoli associati agli utenti</p>

<table class="table table-hover">
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        <th>
            <span class="pull-right">User</span>
        </th>
    </tr>
    <tbody data-ng-repeat="role in rolesCtrl.roles">
        <tr>
            <td>
                {{role.id}}
            </td>
            <td>
                {{role.name}}
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr data-ng-repeat="user in role.users">
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                <span style="color:blue" class="pull-right">{{user.userId}}</span>
            </td>
        </tr>
    </tbody>
    <tr>
        <td>
            <div class="form-group">
                <input type="text" data-ng-model="rolesCtrl.newRole.Name" class="form-control" placeholder="Inserisci nuovo ruolo" />
            </div>
        </td>
        <td>
            &nbsp;
        </td>
        <td>
            <button class="btn btn-primary pull-right" data-ng-disabled="rolesCtrl.newRole.Name == ''" data-ng-click="rolesCtrl.addRole()">Aggiungi Ruolo</button>
        </td>
    </tr>
</table>
