<uib-tabset active="activeJustified" justified="true">
    <uib-tab index="0" heading="Task" select="taskCtrl.riepilogoTask()">
        <div style="margin-top:15px;"></div>
        <div data-ng-repeat="item in taskCtrl.tasklist track by $index">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <h4>{{item.titolo}}</h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-sm-6" ng-switch on="item.priorita">
                                <h6 class="pull-right" style="font-size:medium; color:red;" ng-switch-when="5">Massima</h6>
                                <h6 class="pull-right" style="font-size:medium; color:darkorange" ng-switch-when="4">Alta</h6>
                                <h6 class="pull-right" style="font-size:medium; color:orange" ng-switch-when="3">Media</h6>
                                <h6 class="pull-right" style="font-size:medium; color:deepskyblue" ng-switch-when="2">Bassa</h6>
                                <h6 class="pull-right" style="font-size:medium; color:aqua" ng-switch-when="1">Tempo libero</h6>
                            </div>
                            <div class="col-sm-6">
                                <h6 class="pull-right">{{item.dataCreazione | timestampToHumanWithHours}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-sm-8">
                        <pre>{{item.descrizione}}</pre>
                    </div>
                    <div class="col-sm-4">
                        <div ng-if="item.users.length > 0" class="pull-right">
                            <h6>Utenti coinvolti</h6>
                            <ul data-ng-repeat="user in item.users" style="list-style-type: none;">
                                <li>
                                    <img src="{{user.avatar}}" /> {{user.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" ng-switch="taskCtrl.userIsAlreadyAssigned($index)">
                    <button ng-switch-when="false" class="btn btn-primary pull-right" data-ng-click="taskCtrl.takeTask($index)">Take care of this</button>
                    <button ng-switch-when="true" class="btn btn-warning" data-ng-click="taskCtrl.giveUpTask($index)">Give up</button>
                    <button ng-switch-when="true" data-ng-show="taskCtrl.isAdmin" class="btn btn-success pull-right" data-ng-click="taskCtrl.closeTask($index)">Task Completed</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </uib-tab>
    <uib-tab index="1" data-ng-show="taskCtrl.isAdmin" heading="Inserisci Task">
        <div class="panel panel-default">
            <form class="form-horizontal" role="form">
                <div class="panel-heading">
                    <div class="col-lg-12">
                        <h4>Inserisci Task</h4>
                    </div>
                </div>
                <div class="panel-body">

                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="titolo" class="col-sm-3 control-label">Titolo</label>
                            <div class="col-sm-9">
                                <input type="text" id="titolo" data-ng-model="taskCtrl.task.titolo" class="form-control" placeholder="Inserisci il titolo del task" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="descrizione" class="col-sm-3 control-label">Descrizione</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" rows="5" style="resize:none;" ng-model="taskCtrl.task.descrizione" placeholder="Inserisci la descrizione del task"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="priorita" class="col-sm-3 control-label">Priorit&agrave;</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="taskCtrl.task.priorita" required>
                                    <option value="5">Massima</option>
                                    <option value="4">Alta</option>
                                    <option value="3">Media</option>
                                    <option value="2">Bassa</option>
                                    <option value="1">Tempo Libero</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary btn-block" data-ng-click="taskCtrl.insertTask()">Insert task</button>
                </div>
            </form> <!-- /form -->
        </div>
    </uib-tab>
    <uib-tab index="2" heading="Task chiusi" select="taskCtrl.riepilogoTaskChiusi()">
        <div style="margin-top:15px;"></div>
        <div data-ng-repeat="item in taskCtrl.taskClosedList track by $index">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <h4>{{item.titolo}}</h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="col-sm-6" ng-switch on="item.priorita">
                                <h6 class="pull-right" style="font-size:medium; color:red;" ng-switch-when="5">Massima</h6>
                                <h6 class="pull-right" style="font-size:medium; color:darkorange" ng-switch-when="4">Alta</h6>
                                <h6 class="pull-right" style="font-size:medium; color:orange" ng-switch-when="3">Media</h6>
                                <h6 class="pull-right" style="font-size:medium; color:deepskyblue" ng-switch-when="2">Bassa</h6>
                                <h6 class="pull-right" style="font-size:medium; color:aqua" ng-switch-when="1">Tempo libero</h6>
                            </div>
                            <div class="col-sm-6">
                                <h6 class="pull-right">{{item.dataChiusura | timestampToHumanWithHours}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-sm-8">
                        <p>{{item.descrizione}}</p>
                    </div>
                    <div class="col-sm-4">
                        <div ng-if="item.users.length > 0" class="pull-right">
                            <h6>Utenti coinvolti</h6>
                            <ul data-ng-repeat="user in item.users" style="list-style-type: none;">
                                <li>
                                    <img src="{{user.avatar}}" /> {{user.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" ng-switch="taskCtrl.userIsAlreadyAssigned($index)">
                    <button ng-switch-when="false" class="btn btn-primary pull-left" data-ng-click="taskCtrl.reopenTask($index)">I forgot something</button>
                    <!--<button ng-switch-when="false" class="btn btn-primary pull-right" data-ng-click="taskCtrl.takeTask($index)">Take care of this</button>
    <button ng-switch-when="true" class="btn btn-warning" data-ng-click="taskCtrl.giveUpTask($index)">Give up</button>
    <button ng-switch-when="true" class="btn btn-success pull-right" data-ng-click="taskCtrl.closeTask($index)">Task Completed</button>-->
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </uib-tab>
</uib-tabset>
<!--Questa cacciavitata consente di correggere il problema del footer che si mangia parti della pagina-->
<div style="height:50px;">

</div>

