<uib-tabset active="active">
    <uib-tab index="0" select="tesoreriaCtrl.reload()">
        <uib-tab-heading>
            <!--<i class="glyphicon glyphicon-calendar"></i> Gestione Versamenti-->
            <i class="fa fa-credit-card" aria-hidden="true"></i> Generale
        </uib-tab-heading>


        <div class="row" style="margin-top:10px">

            <!--<div class="col-lg-4">
                <div class="panel panel-default">
                    <form class="form-horizontal" role="form">
                        <div class="panel-heading"><h4>Nuovo versamento</h4></div>
                        <div class="panel-body">
                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <label for="note" class="col-sm-3 control-label">Data</label>
                                    <p class="input-group">
                                        <input type="text" class="form-control" placeholder="Inserire data" uib-datepicker-popup="{{tesoreriaCtrl.format}}" ng-model="tesoreriaCtrl.versamento.dataOperazione" is-open="tesoreriaCtrl.popupDP.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="tesoreriaCtrl.openDP()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <label for="note" class="col-sm-3 control-label">Operazione</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="note" placeholder="Descrizione operazione" class="form-control" autofocus data-ng-model="tesoreriaCtrl.versamento.note">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <label for="note" class="col-sm-3 control-label">Versamento</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="note" placeholder="Versamento" class="form-control" autofocus data-ng-model="tesoreriaCtrl.versamento.note">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6">
                                <div class="form-group">
                                    <label for="note" class="col-sm-3 control-label">Note</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="note" placeholder=Facoltativo class="form-control" autofocus data-ng-model="tesoreriaCtrl.versamento.note">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="form-group">
                                <div class="col-sm-9 col-sm-offset-3">
                                    <button type="submit" class="btn btn-primary btn-block" data-ng-click="tesoreriaCtrl.insertVersamento()">Inserisci Data Versamento</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>-->

            <div class="col-lg-12">
                <div class="panel panel-default">
                    <form class="form-horizontal" role="form">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <h4 class="marginTop0">Riepilogo Entrate/Uscite</h4>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 textAlignRight">
                                    Totale Operazioni: {{tesoreriaCtrl.infoEntrate.length}}
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">

                                <table class="table borderless tableCentered">
                                    <tr>
                                        <th>
                                            Saldo:
                                            <h4 class="marginTop0 displayInline">
                                                <span class="colorBlue">
                                                    &nbsp;
                                                    <i class="fa fa-money" aria-hidden="true"></i>
                                                    {{tesoreriaCtrl.saldo.saldo}} €
                                                </span>
                                            </h4>
                                        </th>
                                        <th>
                                            Totale Entrate:
                                            <h4 class="marginTop0 displayInline">
                                                <span style="color:green">
                                                    &nbsp;
                                                    <i class="fa fa-download" aria-hidden="true"></i>
                                                    {{tesoreriaCtrl.saldo.totaleEntrate}} €
                                                </span>
                                            </h4>
                                        </th>
                                        <th>
                                            Totale Uscite:
                                            <h4 class="marginTop0 displayInline">
                                                <span style="color:red">
                                                    &nbsp;
                                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                                    {{tesoreriaCtrl.saldo.totaleUscite}} €
                                                </span>
                                            </h4>
                                        </th>
                                    </tr>
                                </table>








                                <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <h3 class="marginTop0">Saldo: {{tesoreriaCtrl.saldo.saldo}} €</h3>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 textAlignRight">
                                    <h4 class="marginTop0 displayInline">
                                        <span style="color:green">
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                            {{tesoreriaCtrl.saldo.totaleEntrate}}
                                        </span> € -

                                        <span style="color:red">
                                            <i class="fa fa-upload" aria-hidden="true"></i>
                                            {{tesoreriaCtrl.saldo.totaleUscite}}
                                        </span> €
                                    </h4>
                                </div>-->
                            </div>
                            <div class="row">
                                <div class="col-lg-12">

                                    <uib-tabset active="activeJustified" justified="true">
                                        <uib-tab index="0" heading="Entrate" select="tesoreriaCtrl.reload()">

                                            <table class="table table-hover">
                                                <tr>
                                                    <th>
                                                        Data Operazione
                                                    </th>
                                                    <th>
                                                        Operazione
                                                    </th>
                                                    <th>
                                                        Quota
                                                    </th>
                                                    <th>
                                                        Note
                                                    </th>
                                                    <th>
                                                        Utenti
                                                    </th>
                                                    <th>
                                                        Totale
                                                    </th>
                                                </tr>
                                                <tr data-ng-repeat="info in tesoreriaCtrl.infoEntrate">
                                                    <td>
                                                        {{info.dataOperazione | timestampToHumanWithHours}}
                                                    </td>
                                                    <td>
                                                        {{info.operazione}}
                                                    </td>
                                                    <td>
                                                        {{info.quota}} €
                                                    </td>
                                                    <td>
                                                        {{info.note}}
                                                    </td>
                                                    <td>
                                                        {{info.user.length}} &nbsp; <i class="fa fa-users cursorPointer colorGreen" aria-hidden="true" uib-popover-html="htmlPopover(info)" popover-trigger="'mouseenter'"></i>
                                                        <!--<ol>
                                                            <li data-ng-repeat="user in info.user">
                                                                <span> {{user.name}} &nbsp; {{user.surname}}</span>
                                                            </li>
                                                        </ol>-->
                                                    </td>
                                                    <td>
                                                        {{info.quota * info.user.length}} €
                                                    </td>
                                                </tr>
                                            </table>

                                        </uib-tab>
                                        <uib-tab index="1" heading="Uscite" select="tesoreriaCtrl.riepilogoUscite()">
                                            <table class="table table-hover">
                                                <tr>
                                                    <th>
                                                        Data Operazione
                                                    </th>
                                                    <th>
                                                        Operazione
                                                    </th>
                                                    <th>
                                                        Spesa
                                                    </th>
                                                    <th>
                                                        Note
                                                    </th>
                                                </tr>
                                                <tr data-ng-repeat="info in tesoreriaCtrl.infoUscite">
                                                    <td>
                                                        {{info.dataOperazione | timestampToHumanWithHours}}
                                                    </td>
                                                    <td>
                                                        {{info.operazione}}
                                                    </td>
                                                    <td>
                                                        {{info.quota}} €
                                                    </td>
                                                    <td>
                                                        {{info.note}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </uib-tab>
                                    </uib-tabset>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </form> <!-- /form -->
                </div>
            </div>
        </div>



    </uib-tab>

    <!--<uib-tab index="1" select="alertMe()">-->
    <uib-tab index="1" select="tesoreriaCtrl.getUsers()">
        <uib-tab-heading>
            <!--<i class="glyphicon glyphicon-calendar"></i> Gestione Versamenti-->
            <i class="fa fa-arrow-up colorGreen" aria-hidden="true"></i> Entrate
        </uib-tab-heading>

        <div class="row" style="margin-top:10px">

            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="col-lg-12">
                            <h4>Componi Versamento</h4>
                        </div>
                        <!--<div class="col-lg-6">
                            <select class="form-control pull-right" ng-model="tesoreriaCtrl.dateSelected" required>
                                <option data-ng-repeat="info in tesoreriaCtrl.infoEntrate" value="{{info.id}}">{{info.dataOperazione}}</option>
                            </select>
                        </div>-->
                    </div>
                    <div class="panel-body">
                        <form class="form" role="form">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-sx-12">
                                <div class="form-group">
                                    <!--<label for="note" class="col-sm-3 control-label">Data</label>-->
                                    <p class="input-group">
                                        <input type="text" class="form-control" placeholder="Inserire data" uib-datepicker-popup="{{tesoreriaCtrl.format}}"
                                               ng-model="tesoreriaCtrl.versamento.dataOperazione" is-open="tesoreriaCtrl.popupDPVersamento.opened"
                                               datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="tesoreriaCtrl.openDPVersamento()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-sx-12">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputAmount">Amount (in euro)</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">€</div>
                                        <input type="number" min="1" class="form-control textAlignRight" id="exampleInputAmount" placeholder="Quota per socio" data-ng-model="tesoreriaCtrl.versamento.quota">
                                        <div class="input-group-addon">.00</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                                <div class="form-group">
                                    <label for="form">Note <span style="color:green; font-size: xx-small;"> *Opzionale</span></label>
                                    <input type="text" class="form-control" placeholder="Note" data-ng-model="tesoreriaCtrl.versamento.note">
                                </div>
                            </div>


                            <hr />
                            <h5>Tabella Utenti</h5>
                            <table class="table table-hover">
                                <tr>
                                    <theader>
                                        <th>
                                            <div class="animate-switch-container" ng-switch on="tesoreriaCtrl.selectAllCheckBox">
                                                <div class="animate-switch" ng-switch-when="false">
                                                    <i class="fa fa-square-o cursorPointer" aria-hidden="true" data-ng-click="tesoreriaCtrl.checkAllUsers()"></i>
                                                </div>
                                                <div class="animate-switch" ng-switch-when="true">
                                                    <i class="fa fa-check-square-o cursorPointer colorBlue" aria-hidden="true" data-ng-click="tesoreriaCtrl.checkAllUsers()"></i>
                                                </div>
                                                <!--<div class="animate-switch" ng-switch-default>default</div>-->
                                            </div>
                                        </th>
                                        <th>
                                            Nome
                                        </th>
                                        <th>
                                            Cognome
                                        </th>
                                        <th>
                                            Telefono
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                    </theader>
                                </tr>
                                <tr data-ng-repeat="user in tesoreriaCtrl.users track by $index">
                                    <td>
                                        <!--<input type="checkbox" ng-checked="item.isRowSelected" data-ng-click="toggleSelection(item)">-->
                                        <input type="checkbox" data-ng-model="tesoreriaCtrl.userSelected[$index].check" required>
                                        <!--<input type="checkbox" data-ng-change="tesoreriaCtrl.userSelected[$index].check = !tesoreriaCtrl.userSelected[$index].check" data-ng-model="tesoreriaCtrl.userSelected[$index].check">-->
                                    </td>
                                    <td>
                                        {{user.name}}
                                    </td>
                                    <td>
                                        {{user.surname}}
                                    </td>
                                    <td>
                                        {{user.phone}}
                                    </td>
                                    <td>
                                        {{user.email}}
                                    </td>
                                </tr>
                            </table>

                        </form> <!-- /form -->
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary btn-block" data-ng-click="tesoreriaCtrl.updateVersamento()">Aggiorna Versamenti</button>
                    </div>

                </div>
            </div>

            <!--<div class="col-lg-4">
                <div class="panel panel-default">
                    <form class="form-horizontal" role="form">
                        <div class="panel-heading"><h4>Gestione Tesoreria</h4></div>
                        <div class="panel-body">

                        </div>
                        <div class="panel-footer">

                        </div>
                    </form>
                </div>
            </div>-->
        </div>

    </uib-tab>
    <uib-tab index="2" select="tesoreriaCtrl.prepareSpesa()">
        <uib-tab-heading>
            <!--<i class="glyphicon glyphicon-calendar"></i> Gestione Versamenti-->
            <i class="fa fa-arrow-down colorRed" aria-hidden="true"></i> Uscite
        </uib-tab-heading>

        <div class="row" style="margin-top:10px">

            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="col-lg-12">
                            <h4>Componi Spesa</h4>
                        </div>
                        <!--<div class="col-lg-6">
                            <select class="form-control pull-right" ng-model="tesoreriaCtrl.dateSelected" required>
                                <option data-ng-repeat="info in tesoreriaCtrl.infoEntrate" value="{{info.id}}">{{info.dataOperazione}}</option>
                            </select>
                        </div>-->
                    </div>


                    <div class="panel-body">
                        <form class="form" role="form">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-sx-12">
                                <div class="form-group">
                                    <!--<label for="note" class="col-sm-3 control-label">Data</label>-->
                                    <p class="input-group">
                                        <input type="text" class="form-control" placeholder="Inserire data" uib-datepicker-popup="{{tesoreriaCtrl.format}}"
                                               ng-model="tesoreriaCtrl.spesa.dataOperazione" is-open="tesoreriaCtrl.popupDPSpesa.opened"
                                               datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="tesoreriaCtrl.openDPSpesa()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-sx-12">
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputAmount">Amount (in euro)</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">€</div>
                                        <input type="number" min="1" class="form-control textAlignRight" id="exampleInputAmount" placeholder="Quota per socio" data-ng-model="tesoreriaCtrl.spesa.quota">
                                        <div class="input-group-addon">.00</div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                                <div class="form-group">
                                    <label for="form">Note <span style="color:red; font-size: xx-small;"> *Obbligatorio</span></label>
                                    <input type="text" class="form-control" placeholder="Note" data-ng-model="tesoreriaCtrl.spesa.note">
                                </div>
                            </div>
                        </form> <!-- /form -->
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary btn-block" data-ng-click="tesoreriaCtrl.updateSpesa()">Aggiorna Spesa</button>
                    </div>

                </div>
            </div>

        </div>
    </uib-tab>

    <uib-tab index="3" select="tesoreriaCtrl.getContributoUtentiChart()">
        <uib-tab-heading>
            <!--<i class="glyphicon glyphicon-calendar"></i> Gestione Versamenti-->
            <i class="fa fa-line-chart" aria-hidden="true"></i> Grafici
        </uib-tab-heading>

        <div class="row" style="margin-top:10px">

            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        Contributi per utente
                    </div>
                    <div class="panel-body">
                        <canvas id="pie" class="chart chart-pie"
                                chart-data="tesoreriaCtrl.contributoUtenti.data" chart-labels="tesoreriaCtrl.contributoUtenti.labels" chart-options="options"></canvas>
                    </div>
                    <div class="panel-footer">

                    </div>

                </div>
            </div>

        </div>
    </uib-tab>

</uib-tabset>


<!--<uib-tabset active="activePill" vertical="true" type="pills">
    <uib-tab index="0" heading="Vertical 1">Vertical content 1</uib-tab>
    <uib-tab index="1" heading="Vertical 2">Vertical content 2</uib-tab>
</uib-tabset>-->
