<uib-tabset active="active">
    <!--<uib-tab index="0" select="trainingCtrl.reload()">-->
    <uib-tab index="0" select="trainingCtrl.reload()">
        <uib-tab-heading>
            <i class="fa fa-graduation-cap colorGreen" aria-hidden="true"></i> Corsi
        </uib-tab-heading>

        <div class="row" style="margin-top:10px">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        Corsi disponibili
                    </div>
                    <div class="panel-body">
                        <uib-tabset active="activePill" vertical="true" type="pills">
                            <uib-tab index="$index" heading="{{corso.titolo}}" data-ng-repeat="corso in trainingCtrl.corsi track by $index" data-ng-click="trainingCtrl.switchCorso(corso)"></uib-tab>
                        </uib-tabset>
                    </div>
                    <div class="panel-footer">

                    </div>

                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h5 class="pull-left">{{trainingCtrl.visualizzaCorso.titolo}}</h5> <h5 class="pull-right"><a href="{{trainingCtrl.visualizzaCorso.risorsa}}">{{trainingCtrl.visualizzaCorso.risorsa}}</a></h5>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <blockquote>
                                    <p style="font-size: small;">{{trainingCtrl.visualizzaCorso.descrizione}}</p>
                                    <!--<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>-->
                                </blockquote>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table table-bordered table-condensed">
                                    <tr>
                                        <th>
                                            Capitolo
                                        </th>
                                        <th class="textAlignCenter">
                                            Data conclusione
                                        </th>
                                        <th>
                                            Azioni
                                        </th>

                                    </tr>
                                    <tr data-ng-repeat="capitolo in trainingCtrl.visualizzaCorso.capitoli">
                                        <td>
                                            {{capitolo.numeroCapitolo}} - {{capitolo.titolo}}
                                        </td>
                                        <td class="textAlignCenter">
                                            <span data-ng-show="capitolo.progressiFormazione | checkIfUserInProgressoFormazione">{{capitolo.progressiFormazione | returnConclusionDateProgressoFormazione}}</span>
                                            <span data-ng-hide="capitolo.progressiFormazione | checkIfUserInProgressoFormazione">---</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-book colorRed cursorPointer" title="Visualizza Messaggi" aria-hidden="true" data-ng-click="trainingCtrl.switchMessaggi(capitolo)"></i>&nbsp;&nbsp;
                                            <span data-ng-show="trainingCtrl.visualizzaCorso.utenti | checkIfUserIn">
                                                <i data-ng-hide="capitolo.progressiFormazione | checkIfUserInProgressoFormazione" class="fa fa-thumbs-o-up colorGreen cursorPointer" title="Lezione Conclusa" aria-hidden="true" data-ng-click="trainingCtrl.capitoloConcluso(capitolo)"></i>&nbsp;&nbsp;
                                            </span>

                                            <!--<span data-ng-show="capitolo.progressiFormazione | checkIfUserInProgressoFormazione" class="colorBlue">OK</span>-->
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!--<ul>
                                <li data-ng-repeat="capitolo in trainingCtrl.visualizzaCorso.capitoli">
                                    {{capitolo.numeroCapitolo}} - {{capitolo.titolo}}
                                </li>
                            </ul>-->
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row listWell">

                            <div class="row">
                                <div class="col-lg-12" style="padding:15px;">
                                    <p style="margin-left: 15px;">Utenti sottoscritti</p>
                                    <span class="well well-sm" data-ng-repeat="user in trainingCtrl.visualizzaCorso.utenti" style="margin-left:15px;float:left; margin-bottom:3px"> <img src="{{user.avatar}}" />&nbsp;&nbsp;&nbsp;&nbsp;{{user.name}} {{user.surname}}</span>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-success btn-sm btn-block" data-ng-hide="trainingCtrl.visualizzaCorso.utenti | checkIfUserIn" data-ng-click="trainingCtrl.seguiCorso(trainingCtrl.visualizzaCorso)">Segui corso</button>
                        <h4 class="textAlignCenter colorGreen" data-ng-show="trainingCtrl.visualizzaCorso.utenti | checkIfUserIn">Sottoscritto al corso</h4>
                    </div>

                </div>
                <br />
                <uib-accordion>
                    <div uib-accordion-group class="panel-success">
                        <uib-accordion-heading>
                            <h5>Inserisci messaggio per capitolo <i>{{trainingCtrl.capitoliMessaggi.titolo}}</i><i class="pull-right fa fa-commenting-o" aria-hidden="true"></i><i class="pull-right fa fa-plus" aria-hidden="true"></i></h5>
                        </uib-accordion-heading>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5>Messaggi capitolo <i>{{trainingCtrl.capitoliMessaggi.titolo}}</i></h5>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form class="form-horizontal" role="form" name="forminserimentomessaggio">
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="titolo">Titolo:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="titolo" data-ng-model="trainingCtrl.nuovoMessaggio.titolo" required />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-sm-2" for="testo">Testo:</label>
                                                <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="testo" data-ng-model="trainingCtrl.nuovoMessaggio.testo" required />
                                                </div>
                                            </div>
                                            <button type="submit" data-ng-click="trainingCtrl.inserisciMessaggio()" class="btn btn-success btn-sm pull-right" data-ng-disabled="!forminserimentomessaggio.$valid"><i class="fa fa-plus" aria-hidden="true"></i> Inserisci messaggio</button>
                                        </form>
                                    </div>
                                </div>
                                <hr />
                                <div class="panel-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-accordion>
                <br />
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h5>Messaggi capitolo <i>{{trainingCtrl.capitoliMessaggi.titolo}}</i></h5>
                    </div>
                    <div class="panel-body">
                        <div class="row" data-ng-show="trainingCtrl.capitoliMessaggi.messaggi.length == 0">
                            <div class="col-lg-12">
                                <p>Nessun messaggio inserito per il capitolo <i>{{trainingCtrl.capitoliMessaggi.titolo}}</i></p>
                            </div>
                        </div>
                        <div class="row" data-ng-show="trainingCtrl.capitoliMessaggi.messaggi.length != 0">

                            <div class="col-lg-12" data-ng-repeat="messaggio in trainingCtrl.capitoliMessaggi.messaggi">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5><b>{{messaggio.titolo}}</b></h5>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row messageBorder">
                                            <div class="col-lg-2">
                                                <p>
                                                    <img src="{{messaggio.submitter.avatar}}" />
                                                </p>
                                                <p>
                                                    {{messaggio.submitter.name}} {{messaggio.submitter.surname}}
                                                </p>
                                            </div>
                                            <div class="col-lg-10">
                                                <p>{{messaggio.testo}}</p>
                                            </div>
                                            <div class="col-lg-10 col-lg-offset-2">
                                                risposte
                                                <br />
                                                ---
                                                <br />





                                                <uib-accordion>
                                                    <div uib-accordion-group class="panel-success">
                                                        <uib-accordion-heading>
                                                            <h5>Aggiungi risposta <i>{{trainingCtrl.capitoliMessaggi.titolo}}</i><i class="pull-right fa fa-comments" aria-hidden="true"></i><i class="pull-right fa fa-plus" aria-hidden="true"></i></h5>
                                                        </uib-accordion-heading>
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <!--<h5>Messaggi capitolo <i>{{trainingCtrl.capitoliMessaggi.titolo}}</i></h5>-->
                                                            </div>
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <form class="form-horizontal" role="form" name="forminserimentorisposta">
                                                                            <div class="form-group">
                                                                                <label class="control-label col-sm-2" for="testo">Risposta::</label>
                                                                                <div class="col-sm-10">
                                                                                    <input type="text" class="form-control" name="testo" data-ng-model="trainingCtrl.nuovaRisposta.testo" required />
                                                                                </div>
                                                                            </div>
                                                                            <button type="submit" data-ng-click="trainingCtrl.inserisciRisposta(messaggio)" class="btn btn-success btn-sm pull-right" data-ng-disabled="!forminserimentorisposta.$valid"><i class="fa fa-plus" aria-hidden="true"></i> Inserisci risposta</button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                                <hr />
                                                                <div class="panel-footer">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </uib-accordion>
















                                            </div>
                                        </div>


                                    </div>
                                    <div class="panel-footer">
                                    </div>
                                </div>
                            </div>
                        </div>











                    </div>

                    <div class="panel-footer">
                    </div>

                </div>
            </div>

        </div>
        </div>

    </uib-tab>

    <uib-tab index="1" data-ng-show="trainingCtrl.isAdmin" select="trainingCtrl.getUsers()">
        <uib-tab-heading>
            <i class="fa fa-bolt colorOrange" aria-hidden="true"></i> Gestione
        </uib-tab-heading>

        <div class="row" style="margin-top:10px">

            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="col-lg-12">
                            <h4>Aggiungi corso</h4>
                        </div>
                    </div>
                    <form class="form" role="form" name="corsoForm" ng-submit="trainingCtrl.inserisciCorso(corsoForm.$valid)">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-sx-12">
                                    <div class="form-group">
                                        <input name="titolo" type="text" class="form-control" placeholder="Inserire un titolo" data-ng-model="trainingCtrl.corso.titolo" required />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-sx-12">
                                    <div class="form-group">
                                        <input name="risorsa" type="text" class="form-control" placeholder="Inserire l'indirizzo della risorsa" data-ng-model="trainingCtrl.corso.risorsa" required />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                                    <div class="form-group">
                                        <input type="text" name="descrizione" class="form-control" placeholder="Inserire una descrizione" data-ng-model="trainingCtrl.corso.descrizione" required>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block" data-ng-disabled="!corsoForm.$valid">Inserisci corso</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

        <div class="row" style="margin-top:10px">

            <div class="col-lg-12">
                <div class="panel panel-default" data-ng-repeat="corso in trainingCtrl.corsi track by $index">
                    <div class="panel-heading">
                        <div class="col-lg-12">
                            <h4>{{corso.titolo}}</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>{{corso.descrizione}}</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <ul>
                                            <li data-ng-repeat="capitolo in corso.capitoli track by $index">
                                                {{capitolo.numeroCapitolo}} - {{capitolo.titolo}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <form class="form" name="addcapitoli" ng-submit="trainingCtrl.inserisciCapitolo(corso, addcapitoli.$valid)">

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <div class="col-lg-12">
                                                <h6>Inserisci capitolo</h6>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <p>Capitolo {{corso.capitoli.length +1}}</p>
                                                <input type="text" name="titolo" class="form-control" placeholder="Inserire un titolo" data-ng-model="corso.capitolo" required>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <button type="submit" class="btn btn-primary btn-block" data-ng-disabled="!addcapitoli.$valid">Inserisci capitolo</button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>

        </div>

    </uib-tab>



    <uib-tab index="3" select="trainingCtrl.getContributoUtentiChart()">
        <uib-tab-heading>
            <i class="fa fa-line-chart" aria-hidden="true"></i> Grafici
        </uib-tab-heading>

        <div class="row" style="margin-top:10px">

            <div class="col-lg-12">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        Contributi per utente
                    </div>
                    <div class="panel-body">

                    </div>
                    <div class="panel-footer">

                    </div>

                </div>
            </div>

        </div>
    </uib-tab>

</uib-tabset>


<!--<uib-tabset active="activePill" vertical="true" type="pills">
    <uib-tab index="0" heading="Vertical 1">Vertical content 1</uib-tab>
    <uib-tab index="1" heading="Vertical 2">Vertical content 2</uib-tab>
</uib-tabset>-->
