<div class="panel panel-default">
    <form class="form-horizontal" role="form">
        <div class="panel-heading"><h2>Modifica Password</h2></div>
        <div class="panel-body">
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">Vecchia Password</label>
                <div class="col-sm-9">
                    <input type="text" id="firstName" placeholder="Vecchia Password" class="form-control" autofocus data-ng-model="updatePassCtrl.oldPassword">
                    <!--<span class="help-block">Last Name, First Name, eg.: Smith, Harry</span>-->
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="col-sm-3 control-label">Nuova Password</label>
                <div class="col-sm-9">
                    <input type="text" id="lastName" placeholder="Nuova Password" class="form-control" autofocus data-ng-model="updatePassCtrl.newPassword">
                    <!--<span class="help-block">Last Name, First Name, eg.: Smith, Harry</span>-->
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-3 control-label">Conferma Password</label>
                <div class="col-sm-9">
                    <input type="text" id="phone" placeholder="Conferma Password" class="form-control" autofocus data-ng-model="updatePassCtrl.confirmPassword">
                   
                </div>
            </div>


            <!-- /.form-group -->
        </div>
        <div class="panel-footer">
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <button type="submit" class="btn btn-primary btn-block" data-ng-click="updatePassCtrl.updatePass()">Modifica</button>
                </div>
            </div>
        </div>
    </form> <!-- /form -->
</div>

